<%- include ('../partials/head.ejs') -%>
<link rel="stylesheet" href="/css/createArticle.css">
<div class="create-article">
  <h1>Create Article</h1>
  <form action="/createarticle" method="POST" class="create-article-form">
    <label for="title">Title</label>
    <input type="text" name="text" placeholder="Enter topic name"/><br/>
    <label for="entry">Post</label><br/>
    <textarea name="entry" rows="4" cols="50"></textarea>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit">Submit</button>
  </form>
</div>
<%- include ('../partials/footer.ejs') -%>
<!-- <script>
 var checkbox = document.querySelector("input[type='checkbox']");
  checkbox.addEventListener("change",function(){
     this.value = this.checked ? 1 : 0;
  });
</script> -->