<%- include ('../partials/head.ejs') -%>
<h1>Homepage</h1>
<% if (message) { %>
    <div><%= message %></div>
<% } %>
<% blogs.forEach(blog=>{%>
    <a href="/editarticle/<%=blog.Id%>">
        <p><%= blog.title %></p>
        <small>blog.owner.name</small>
    </a>
<% }) %>

