<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer">
    <div class="footer-1">
        <small>Anand Singh</small>
        <small>anandsingh7571970002@gmail.com</small> <br/>
        <small>"Still much more to do"</small>
        <small>&copy;2023</small>
    </div>
    <div class="footer-2">
        <a href="linkedin.com/in/anand-singh-766109174"><i class="fa fa-linkedin" style="font-size:36px"></i></a> <br/>
        <a href="https://github.com/passenger37"><i class="fa fa-github" style="font-size:36px"></i></a>
    </div>
</footer>