<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/header.css">
<header class="main-header">
    Blogginggg
</header>
<nav>
    <%- include ('../partials/navigation.ejs') -%>
</nav>