<ul>
    <li><a href="/">Blogs</a></li>
    <% if (isAuthenticated) { %>
        <li><a href="/addArticle">Add Article</a></li>
        <li><a href="/profilepage">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        <% } %>
        <li><a href="/loginPage">Login</a></li>
    <li><a href="/signupPage">Signup</a></li>
</ul>