<link rel="stylesheet" href="/css/navigation.css">
<div class="main-nav"  id="mySidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <% if (isAuthenticated && user.name) {%>
      <img src="profile.png" width="80" class="profile-image"/>
        <a href="/profilepage/<%= user._id%>"><h4><%= user.name%></h4></a>
    <% } %>
    <a href="/">Blogs</a>
    <% if (isAuthenticated) { %>
        <><a href="/addArticle">Add Article</a>
        <><a href="/logout">Logout</a>
            <% }else { %>
            <a href="/loginPage">Login</a>
            <a href="/signupPage">Signup</a>
    <%}%>
</div>

<script>
function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}
</script>